<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include("./share/metadata.ejs") %>
		<title>Document</title>
		<%- include("./share/stylesheets.ejs") %>
	</head>
	<body>
		<div id="app" class="d-flex flex-column h-100">
			<header><%- include("./share/navbar.ejs") %></header>
			<main class="container align-items-center h-100">
				<div class="row h-100 justify-content-center">
					<div class="col-8 align-self-center">
						<h1 class="display-1 text-center mb-5">
							<i class="fa fa-fw fa-utensils"></i>
							検索
						</h1>
						<div class="input-group">
							<input
								type="text"
								class="form-control"
								autofocus="autofocus"
								v-model="keyword"
							/>
							<div class="input-group-append">
								<button class="btn btn-secondary" @click="submit">
									<i class="fa fa-fw fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="footer bg-light text-muted">
				<%- include("./share/footer.ejs") %>
			</footer>
		</div>
		<%- include("./share/javascripts.ejs") %>
		<script>
			new Vue({
				el: '#app',
				data: () => ({
					keyword: ''
				}),
				methods: {
					submit() {
						window.location = `/search?keyword=${this.keyword}`;
					}
				}
			});
		</script>
	</body>
</html>
