<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include("../../share/metadata.ejs") %>
		<title>Document</title>
		<%- include("../../share/stylesheets.ejs") %>
	</head>

	<body>
		<div class="d-flex flex-column h-100">
			<header><%- include("../../share/navbar.ejs") %></header>
			<main class="container">
				<div class="border-bottom my-5">
					<h1>口コミの投稿</h1>
				</div>

				<form action="/account/reviews/regist/confirm" method="POST">
					<input
						type="hidden"
						id="shopId"
						name="shopId"
						value="<%= shopId %>"
					/>
					<div class="row mb-3">
						<label for="shopName" class="col-sm-2 col-form-label">店舗</label>
						<div class="col-sm-10">
							<input
								type="text"
								readonly
								class="form-control-plaintext"
								id="shopName"
								name="shopName"
								value="<%= shopName %>"
							/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="visit" class="col-sm-2 col-form-label">訪問日</label>
						<div class="col-sm-10">
							<input
								type="text"
								readonly
								class="form-control"
								id="visit"
								name="visit"
								value="<%= review.visit  ? moment(review.visit).format('YYYY/MM/DD') : '' %>"
							/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="score" class="col-sm-2 col-form-label">評価</label>
						<div class="col-sm-10">
							<input
								type="text"
								readonly
								class="form-control"
								id="score"
								name="score"
								value="<%= review.score %>"
							/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="description" class="col-sm-2 col-form-label">
							本文
						</label>
						<div class="col-sm-10">
							<textarea
								readonly
								class="form-control"
								id="description"
								name="description"
								rows="5"
							>
<%= (review.description || '') %>
</textarea
							>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-2"></div>
						<div class="col-sm-10">
							<button type="submit" class="btn btn-secondary">修正</button>
							<button type="submit" class="btn btn-primary">登録</button>
						</div>
					</div>
				</form>
			</main>
			<footer class="footer bg-light text-muted mt-auto">
				<%- include("../../share/footer.ejs") %>
			</footer>
		</div>
		<%- include("../../share/javascripts.ejs") %>
	</body>
</html>
