<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include("../../share/metadata.ejs") %>
		<title>Document</title>
		<%- include("../../share/stylesheets.ejs") %>
	</head>

	<body>
		<div id="app" class="d-flex flex-column h-100">
			<header><%- include("../../share/navbar.ejs") %></header>
			<main class="container">
				<div class="border-bottom my-5">
					<h1>口コミの投稿</h1>
				</div>

				<form ref="form">
					<input
						type="hidden"
						id="shopId"
						name="shopId"
						value="<%= shopId %>"
					/>
					<div class="row mb-3">
						<label for="shopName" class="col-sm-2 col-form-label">店舗</label>
						<div class="col-sm-10">
							<input
								type="text"
								readonly
								class="form-control-plaintext"
								id="shopName"
								name="shopName"
								value="<%= shopName %>"
							/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="visit" class="col-sm-2 col-form-label">訪問日</label>
						<div class="col-sm-10">
							<input
								type="date"
								readonly
								class="form-control"
								id="visit"
								name="visit"
								value="<%= review.visit  ? moment(review.visit).format('YYYY-MM-DD') : '' %>"
							/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="score" class="col-sm-2 col-form-label">評価</label>
						<div class="col-sm-10">
							<input
								type="text"
								readonly
								class="form-control"
								id="score"
								name="score"
								value="<%= review.score %>"
							/>
						</div>
					</div>
					<div class="row mb-3">
						<label for="description" class="col-sm-2 col-form-label">
							本文
						</label>
						<div class="col-sm-10">
							<textarea
								readonly
								class="form-control"
								id="description"
								name="description"
								rows="5"
							>
<%= (review.description || '') %>
</textarea
							>
						</div>
					</div>
					<div class="row mb-3">
						<label for="description" class="col-sm-2 col-form-label">
							XXS攻撃を受けるパターン
						</label>
						<div class="col-sm-10"><%- review.description %></div>
					</div>
					<div class="row mb-3">
						<label for="description" class="col-sm-2 col-form-label">
							XXS攻撃を受けないパターン
						</label>
						<div class="col-sm-10"><%= review.description %></div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-2"></div>
						<div class="col-sm-10">
							<button class="btn btn-secondary" @click.prevent="fix">
								修正
							</button>
							<button class="btn btn-primary" @click.prevent="execute">
								登録
							</button>
						</div>
					</div>
				</form>
			</main>
			<footer class="footer bg-light text-muted mt-auto">
				<%- include("../../share/footer.ejs") %>
			</footer>
		</div>
		<%- include("../../share/javascripts.ejs") %>
		<script>
			new Vue({
				el: '#app',
				data: () => ({
					shopId: parseInt('<%= shopId %>')
				}),
				methods: {
					fix() {
						this.$refs.form.action = `/account/reviews/regist/${this.shopId}`;
						this.submit();
					},
					execute() {
						this.$refs.form.action = `/account/reviews/regist/execute`;
						this.submit();
					},
					submit() {
						this.$refs.form.method = 'POST';
						this.$refs.form.submit();
					}
				}
			});
		</script>
	</body>
</html>
