<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include("../share/metadata.ejs") %>
		<title>Shop List</title>
		<%- include("../share/stylesheets.ejs") %>
	</head>
	<body>
		<div id="app" class="d-flex flex-column h-100">
			<header><%- include("../share/navbar.ejs") %></header>
			<main class="container">
				<div class="row">
					<div class="col-12">
						<div class="border-bottom d-flex justify-content-center">
							<div class="col-8 my-5">
								<form action="/search" method="GET" class="form-group">
									<div class="input-group">
										<input
											type="text"
											class="form-control"
											id="keyword"
											name="keyword"
											value="<%= keyword %>"
											autofocus="autofocus"
										/>
										<div class="input-group-append">
											<button class="btn btn-secondary" type="submit">
												<i class="fa fa-fw fa-search"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
							<% for (var shop of shops) { %> <%- include("./item.ejs", shop) %>
							<% } %>
						</div>
					</div>

					<div class="col-12">
						<nav class="my-3">
							<ul class="pagination justify-content-center">
								<li :class="['page-item', diabledPrevious(currentPage)]">
									<a
										class="page-link"
										:href="`/search?keyword=${keyword}&page=${currentPage - 1}`"
										aria-label="Previous"
									>
										<span class="disabled" aria-hidden="true">&laquo;</span>
									</a>
								</li>

								<template
									v-for="pageCount of pagenation(pageCounts, currentPage)"
								>
									<li
										class="page-item"
										:key="pageCount"
										v-if="currentPage !== pageCount"
									>
										<a
											class="page-link"
											:href="`/search?keyword=${keyword}&page=${pageCount}`"
											v-if="Number.isInteger(pageCount)"
										>
											{{ pageCount }}
										</a>
										<span v-else class="page-link">・・・</span>
									</li>
									<li v-else :key="pageCount" class="page-item active">
										<span class="page-link disabled">{{ pageCount }}</span>
									</li>
								</template>

								<li
									:class="['page-item', diabledNext(currentPage, pageCounts)]"
								>
									<a
										class="page-link"
										:href="`/search?keyword=${keyword}&page=${currentPage + 1}`"
										aria-label="Next"
									>
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</main>
			<footer class="footer bg-light text-muted mt-auto">
				<%- include("../share/footer.ejs") %>
			</footer>
		</div>
		<%- include("../share/javascripts.ejs") %>
		<script>
			new Vue({
				el: '#app',
				data: () => ({
					keyword: '<%= keyword %>',
					pageCounts: parseInt('<%= pagenation.max %>'),
					currentPage: parseInt('<%= pagenation.current %>')
				}),
				computed: {
					diabledPrevious: () => {
						return (currentPage) => {
							return currentPage - 1 > 0 ? '' : 'disabled';
						};
					},
					diabledNext: () => {
						return (currentPage, pageCounts) => {
							return currentPage < pageCounts ? '' : 'disabled';
						};
					},
					pagenation: () => {
						return (pageCounts, currentPage) => {
							const list = [];

							let notYet = true;
							for (let pageCount = 1; pageCount <= pageCounts; pageCount++) {
								if (pageCount <= 3) {
									list.push(pageCount);
								} else if (pageCounts - 3 < pageCount) {
									list.push(pageCount);
								} else if (
									currentPage - 2 < pageCount &&
									pageCount < currentPage + 2
								) {
									list.push(pageCount);
								} else if (notYet) {
									list.push('・・・');
									notYet = false;
								}
							}

							return list;
						};
					}
				}
			});
		</script>
	</body>
</html>
